/* A completer avec la police Jost* */
@font-face
{
	font-family:'Jost*';
	src: url('../font/OpenType/Jost-300-Light.otf') format('otf');
	src: url('../font/Jost-300-Light.ttf') format('truetype');
	src: url('../font/OpenType/Jost-400-Book.otf') format('otf');
	src: url('../font/Jost-400-Book.ttf') format('truetype');
}

body{
	margin:0 auto;
	font-family: 'Jost*', Ubuntu, sans-serif;
	font-size:1em;
}

/*HEADER*/

header{
	background-color: #EBEBEB;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}

.header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom:3%;
}

/*LOGO*/

.logo{
	height: 11vw;
	width: auto;
}

.logo:hover{
	opacity: 80%;
}

/*BARRE DE NAVIGATION*/

ul {
    list-style-type: none;
}

.nav{
	margin:0.5em;
	display : inline;
	padding:0.5em;
	padding-left:2em;
	padding-right: 2em;
	background-color:#626B8B;
	border-radius: 0.3em;
	font-weight: bold;
	font-size: 1.4vw;
}

nav li{
	background-color:#626B8B;
}

nav li:hover{
	background-color: #52417E;
	cursor:pointer;
}


.sousmenu{
	display: none;
	font-size:0.95em;
	text-align:center;
	background-color:#ebebeb;
	border-radius: 10px;
	z-index:1000;
	margin-top:0.6em;
	margin-left: 19.55em;
	padding:1em;
}

nav > ul li:hover .sousmenu{
	display:flex;
	position: absolute;
	flex-direction: column;
}

.sousmenu li{
	background-color:#626B8B;
	padding: 0.5em;
	padding-left:2em;
	padding-right: 2em;
	margin-left:1em;
	margin-right: 1em;
	margin-bottom:1.1em;
	border-radius:0.3em;
}

.sousmenu li:hover{
	background-color: #52417E;
	border-radius:0.3em;
}

/*LIENS*/
a{
	color: white;
	text-decoration: none;
}

a:hover{
	color:white;
}

/*TITRES*/

h1, h2{
	text-transform: uppercase;
	color: #6B00FF;
	font-size:6vh;
	margin-left:7%;

}

h1{display:inline-block;}

h2{
	color: #0881D1;
	font-size:4vh;
	text-transform: none;
	margin-bottom:1em;
	margin-top:1em;
}

h3{
	margin-top:1%;
	margin-bottom:2%;
	color:#565656;
}

h4{
	display:inline-block;
}

.enroute{
	font-size:4vh;
}

/*BARRE DE RECHERCHES*/

.zonederecherche{
		margin-left:6%;
		display: inline-flex;
		margin-bottom:5%;
}

button{
	border:none;
	background:none;
}

button:hover{
	opacity:75%;
	cursor:pointer;
}

label{
	color:grey;
	font-size:1.2em;
}

.loupe{
	border:none;
	height:1.5em;
	width:1.5em;
	border:none;
}

#search{
	width:42vw;
	padding:5px;
	margin-left:5%;
	margin-right:5%;
	border:1px solid lightgrey;
	color:darkgrey;
	font-family:'Jost*';
}

/*NOS SERVICE - avec les 4 services proposés*/

.avotreservice{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: #ebebeb;
	text-align: center;
	color:#6B00FF;
	margin-top:2%;
	margin-left:7%;
	margin-right:7%;
	padding:2%;

}

.transport{
	width:40vh;
	height: auto;
	min-width:10vh;
	font-weight: bold;
	font-size:6vh;
}

.transport:hover{
	transform:scale(0.95);
	transition: transform 1s;
}

/*Chaque page service a sa page de présentation*/


.pageservices{
	margin-left:7%;
	margin-right: 7%;
	margin-top:2%;
	/*border:5px dotted darkgrey;*/
	padding:1%;
	padding-left:3%;
	padding-right:3%;
	text-align:justify;
	background-color:#ebebeb;
	font-size:2.8vh;
}

/*image du service*/
.service{
	height:auto;
	width: 25vh;
	float:left;
	margin-right:2%;
	margin-top:2%;
}

.spa{
	font-weight: bold;
}

#lirelasuite {
  display:none;
}

.lirelasuite{
	color:white;
	font-weight: bold;
	font-size:0.8em;
	background-color: #475380;
	padding:0.7em;
	padding-left:8em;
	padding-right:8em;
	align-self:center;
	text-align:center;
	font-family:'Jost*', sans-serif;
}

.lirelasuite:hover{
	background-color: #36306F;
}

/*RESPONSIVE*/

/*responsive de la page nos services*/

@media screen and (max-width: 1350px) {

	.transport{
	width:25vh;
	min-width:25vh;
	font-size:7vh;

}
}

@media screen and (max-width: 1040px) {
	.transport{
		width:15vh;
		font-size:2vh;
		min-width:15vh;

	}
}
	.transport{
		width:15vw;
		font-size:2vh;
	}
}

@media screen and (max-width: 500px) {
	.transport{
		font-size:4vh;
		width: 35vh;
		min-width:25vh;
	}

	.service{
		display:none;
}

}

/*Page de destination*/

.info{
	text-align:center;
	background-color: #DCDCDC;
	padding-top:1em;
	padding-bottom: 1em;
	margin-left:7%;
	margin-right:7%;
}

.categorie{
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 3%;
}

.prix{
	font-size:3.5vh;
}

.pagedestination{
	margin-left:7%;
	margin-right: 7%;
	/*border:5px dotted darkgrey;*/
	padding:1%;
	padding-left:3%;
	padding-right:3%;
	text-align:justify;
	background-color:#ebebeb;
	font-size:2.8vh;
}
.imagesource{
	height:auto;
	width: 70vh;
	float:left;
	margin-right:2%;
	margin-top:2%;
}

.imagesource:hover{
	transform: scale(1.1);
	transition: transform 1s;
}

#pixabay{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-basis: 100%;
	margin-bottom:3%;
}

.pixabay{
	height:auto;
	width: 60vh;
	display:block;
}

@media screen and (max-width: 1080px) {
	.imagesource{
		width:58vh;
		margin-bottom:1%;
	}

	.pixabay{
		width: 58vh;
		margin-bottom: 1%;

	}
}


@media screen and (max-width: 800px) {

	.imagesource{
		width:60vh;
		margin-bottom:1%;
	}

	.pixabay{
		width: 60vh;
		margin-bottom: 1%;

	}
}

@media screen and (max-width: 500px) {
	.imagesource{
		width:32vh;
	}

	.pixabay{
		width: 32vh;
		margin-bottom: 1%;

	}
}

/* Footer */
.site-footer
{
  background-color:#26272b;
  padding:0.2em 0 20px;
  font-size:1.3em;
  color:#737373;
  margin-top:2em;
  padding-top:1em;
  padding-bottom:1em;

}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
  margin:1em;
}
.site-footer hr.small
{
  margin:20px 0;
}

.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#8018CD;
  text-decoration:none;
}
.footer-links
{
  /* border: solid black 2px; */
  padding-left:30%;
  width: 50%;
  list-style:none;
}
.footer-links li
{
  display:block;
  margin-bottom: 0.2em;
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#8018CD;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block;
}
.site-footer .social-icons
{
  text-align:right
}
.icons{
  width: 10%;
  height: 10%;
}

.copyright-text
{
  text-align: center;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.social-icons
{
  padding-left:0;
  margin-top:0;
  margin-right: 20%;
  list-style:none;
  /* border: solid black 2px; */
}
.social-icons li
{
  display:inline-block;
  margin-bottom:0.2em;
  margin-right: 2%;
}
.social
{
	width: 50%;
	/* border: solid red 2px; */
}
.menu
{
	/* border: solid green 2px; */
	width: 50%
}
.container
{
	display: flex;
  /* border: solid yellow 2px; */
	justify-content:space-around;
	align-items: center;
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.conteneur
{
	width: 500px;
	border-left: 3px solid black;
	text-align: justify;
	padding: 12px;
	margin: auto;
	line-height: 2em;
}

/* menu BURGER */

* {margin:0; padding:0; box-sizing:border-box;}

/* Menu burger */
#menu-burger {position:absolute; top:0.5rem; right:1.5rem; display:inline-block; cursor:pointer;}
#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {width:32px; height:5px; background-color:#565656; margin:6px 0; transition:0.4s;}
#menu-burger:hover {opacity:.75; transition:.5s;}
#menu-burger.clicked .bar1 {-webkit-transform:rotate(-45deg) translate(-9px, 6px); transform:rotate(-45deg) translate(-9px, 6px);}
#menu-burger.clicked .bar2 {opacity: 0;}
#menu-burger.clicked .bar3 {-webkit-transform:rotate(45deg) translate(-8px, -8px); transform:rotate(45deg) translate(-8px, -8px);}

/* Main menu (slide) */
#menu {position:fixed; z-index:9999; left:-25%; top:0%; background:#26272b; padding:4em 2em; width:25%; min-height:100%;}
#menu ul li {list-style:none;}
#menu ul li a {display:block; color:#fff; text-decoration:none; font-weight:700; background:#626B8B; transition:background .5s; padding:1em; text-align:center; margin-bottom: 1.5em; box-shadow:1px 1px 0 #666}
#menu ul li a:hover {background:#52417E; transition:background .5s;}
#menu.visible {animation:.5s slideRight ease-in forwards; transition-delay:0;}
#menu.invisible {animation:1s slideLeft ease-out forwards; transition-delay:0;}
.social2
{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-left: auto;
	margin-right: -5%;
}
.icon2
{
	margin-right: 1em;
}

/* Animations pour le menu slide */
@keyframes slideRight {
	from {left:-25%;}
	to {left:0%;}
}
@-webkit-keyframes slideRight {
	from {left:-25%;}
	to {left:0%;}
}
@keyframes slideLeft {
	from {left:0%;}
	to {left:-25%;}
}
@-webkit-keyframes slideLeft {
	from {left:0%;}
	to {left:-25%;}
}

/* Responsive design */
@media (max-width:1024px) {
	#menu {left:-50%; width:50%;}
	#menu-burger.clicked {position:fixed;}
	#main-block,
	#second-block {padding:4em 2em;}


	/* Animations pour le menu slide */
	@keyframes slideRight {
		from {left:-50%;}
		to {left:0%;}
	}
	@-webkit-keyframes slideRight {
		from {left:-50%;}
		to {left:0%;}
	}
	@keyframes slideLeft {
		from {left:0%;}
		to {left:-50%;}
	}
	@-webkit-keyframes slideLeft {
		from {left:0%;}
		to {left:-50%;}
	}
}
@media (max-width:600px) {
	#menu-burger {top:0.5rem; right:1.5rem; z-index:9999;}
	#menu {left:-100%; width:100%;}

	/* Animations pour le menu slide */
	@keyframes slideRight {
		from {left:-100%;}
		to {left:0%;}
	}
	@-webkit-keyframes slideRight {
		from {left:-100%;}
		to {left:0%;}
	}
	@keyframes slideLeft {
		from {left:0%;}
		to {left:-100%;}
	}
	@-webkit-keyframes slideLeft {
		from {left:0%;}
		to {left:-100%;}
	}
}
@media (min-width:751px)
 {
	 .bar1 , .bar2, .bar3
	 {
		 display: none;
	 }
 }
 @media screen and (max-width: 750px) {

	#menu_pc
	{
		display: none;
	}
}
